@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
} 

/* Area de body */

body{
    background: linear-gradient(45deg, #084177, #687466, #c8d87b, #90ebfb);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}



@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* area da navbar  */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 12vh;
    background: linear-gradient(45deg, #3d3232, #504f0c, #070101, #0d0f0f);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

nav a{
    text-decoration: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.logo-1{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}



/* Area do section */

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Area dos cards */



.card{   
    width: 300px;
    height: 220px;
    margin: 15px;
    background: linear-gradient(45deg, #0d0f0f, #070101, #030a63,  #1638e3);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

button{
    background-color: black;
    color: #fff;
    height: 50px;
    width: 100%;
    text-decoration: none;
    margin-top: 170px;
}



.card:hover{
    background-color: rgb(62, 62, 62);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.card a{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin: 20px 45px;
    border-radius: 15px 15px;
    text-decoration: none;
}

.card-image{
    background: #084177;
    height: 170px;
    margin-bottom: 15px 15px 0 0;
    background-size: cover;

}

/* Area do rodapé */


footer{
    background: linear-gradient(45deg, #000000, #141a13, #070101, #dae2e4);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    color: #fff;
    height: 260px;
    text-align: center;
    font-size: 37px;
}

.menu-button {
    opacity: 0;
    z-index: -99;
}



@media(max-width: 576px) {
    .menu {
        height: 0;
       z-index: -99;
       position: absolute;

    }
    .menu-active  {
        display: block;
        width: 100%;
        height: fit-content;
        background:  linear-gradient(45deg, #3d3232, #504f0c, #070101, #0d0f0f);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 0;
        top: 12vh;
        z-index: 99;
    }
    .menu li, .menu li a {
        width: 100%;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        margin: 1rem 0;
        margin: auto;
    }
    .menu-button {
        opacity: 1;
        z-index: 999;
    }
    
} 

