@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}


/* area do carrossel */

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 55vh;
    background: linear-gradient( 45deg, #506272, #102027, #7b98d8, #0f2327);
}

.carrossel {
    box-shadow: 2px 2px 5px white;
    overflow: hidden;
    height: 50vh;
    width: 180vh;
    border-radius: 19px;
}

.container-0 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container-0 img {
    object-fit: cover;
    height: 1200px;
    width: 1200px;
}

/* navbar inicio */

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(45deg, #3d3232, #504f0c, #070101, #0d0f0f);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

li a{
    text-decoration: none;
}

.logo{
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.menu li{
    list-style: none;
}

.navbar .menu li{
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 55px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #1f468f;
    opacity: 0.4s;
}

span{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}



.imge{
    border-radius: 5rem;
    margin-left: 12vh;
}

.imge img{
    width: 100px;
    height: 100px;
    border-radius: 5rem;
}


.pesquisa{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px;
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.904);
}

.pesquisa input{
    background-color: transparent;
    border: 0;
    font-size: 15px;
    color: #fff;
    outline: none;

}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    max-width: 414px;
    min-height: 896px;
    margin: auto;
}


.pesquisa input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 72px;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.4);
}


/* area da main */

main{
    min-height: 41vh;
    background: linear-gradient( 45deg, #e5e9ec, #dae4e9, #cdd1da, #c6f5ff);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

.fundo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.fundo h1,
.fundo p {
    width: 100%;
    text-align: center;
}
.saiba-mais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
    height: 38px;
    border-radius: 12px;
    background: black;
    color: #fff;
    text-decoration: none;
}

.Bem-vindo{
    font-size: 56px;
}


.saiba-mais:hover{
    background-color: rgb(62, 62, 62);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/* area da section */

section {
    background: linear-gradient(45deg, #084177, #687466, #c8d87b, #90ebfb);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

.container-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
   display: grid;
   justify-content: center;
   grid-gap: 20px;
   grid-template-areas: 
   "sidenav item item" 
   "sidenav item item"
   "sidenav item item"
   "footer footer footer";
}

.container-grid img {
    width: 100%;
    border-radius: 20px;
}

.sidenav {
    max-width: 300px;
    min-width: 250px;
    height: 1000px;
    margin: 12px;
    background: linear-gradient(45deg, #084177, #687466, #c8d87b, #90ebfb);
    border-radius: 20px;
    grid-area: "sidenav";
    grid-row: sidenav;
}

.item {
    max-width: 300px;
    min-width: 250px;
    height: 300px;
    background: linear-gradient(45deg, #084177, #687466, #c8d87b, #90ebfb);
    border-radius: 20px;
    grid-area: "item";
   
}

.footer {
    width: auto;
    height: 200px;
    background: linear-gradient(45deg, #084177, #687466, #c8d87b, #90ebfb);
    border-radius: 20px;
    grid-area: "footer";
    grid-column: footer;
}



@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}






footer{
    background: linear-gradient(45deg, #000000, #141a13, #070101, #dae2e4);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    color: #fff;
    height: 260px;
    text-align: center;
    font-size: 37px;
}

/* Respansividades */

@media (max-width: 820px){
    .container-grid{
        grid-template-areas: 
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "footer footer";
    }
}

@media (max-width: 520px){
    .sidenav{
        height: 200px;
    }
    .container-grid{
        grid-template-areas: 
        "sidenav"
        "item"
        "item"
        "item"
        "item"
        "item"
        "footer";
    }
}
