@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}


/* area do carrossel */

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 85vh;
    background: linear-gradient( 45deg, #506272, #102027, #7b98d8, #0f2327);
}

.carrossel {
    box-shadow: 2px 2px 5px white;
    overflow: hidden;
    height: 500px;
    width: 500px;
    border-radius: 19px;
}

.container-0 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container-0 img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

/* navbar inicio */

.navbar {
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #6ea2da, #0000b3, #000066, #070101);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

li a {
    text-decoration: none;
}

.logo {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.menu li{
    list-style: none;
}

.navbar .menu li{
    display: inline-block;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 55px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #1f468f;
    opacity: 0.4s;
}

span{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}



.imge{
    border-radius: 5rem;
    /* margin-left: 12vh; */
}

.imge img{
    width: 100px;
    height: 100px;
    border-radius: 5rem;
}


.pesquisa{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px;
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.904);
}

.pesquisa input{
    background-color: transparent;
    border: 0;
    font-size: 15px;
    color: #fff;
    outline: none;

}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    max-width: 414px;
    min-height: 896px;
    margin: auto;
}


.pesquisa input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 72px;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.4);
}


/* area da main */

main{
    min-height: 60vh;
    background: linear-gradient( 45deg, #e5e9ec, #dae4e9, #cdd1da, #c6f5ff);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

.fundo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.fundo p {
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.saiba-mais{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
    height: 38px;
    border-radius: 12px;
    background: black;
    color: #fff;
    text-decoration: none;
    margin-top: 63px;
}

.Bem-vindo{
    font-size: 56px;
}


.saiba-mais:hover{
    background-color: rgb(62, 62, 62);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}



body {
    background: linear-gradient( 45deg, #506272, #102027, #7b98d8, #0f2327);
}
/* area da section */

.image {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    margin: 50px 60px;
    padding: 50px;
    background: #8dbae763;
}

.container img{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
    cursor: pointer;
    width: 140%;
}

img:hover{
    opacity: 0.3;
}


p{
    margin-bottom: 50px;
    font-size: .8em;
}


ion-icon {
    font-size: 60px;
    color: #fff;
 } 
 
 .container h3 {
     padding: 19px;
     text-align: center;
 }
 
 .Bem-vindo h2 {
     text-align: center;
     margin-bottom: 26px;
 }
 
 
 .box {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 
 .card {
     border: 1px solid red;
     padding: 12vh;
     margin: 15px;
     width: 60vh;
 }

/* area do rodape */


.rodape {
    background: linear-gradient(45deg, #6ea2da, #0000b3, #000066, #070101);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    color: #fff;
    width: 100%;
    min-height: 31vh;
    text-align: center;
} 

.rodape p {
    display: flex;
    justify-content: left;
    font-size: 23px;
}

.rodape h2{
    display: flex;
    justify-content: center;
    margin-top: auto;
   
}

.rodape h1 {
    align-items: center;
    font-size: 3px;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.menu-button {
    opacity: 0;
    z-index: -99;
}

/* Respansividades */

@media(max-width: 1200px) {
    ::selection {
        width: 1000px;
    }
}

@media(min-width: 1024px) {
    ::selection {
        width: 700px;
    }
    .container {
        flex-direction: row;
    }
}

@media(max-width: 768px) {
    ::selection {
        width: 400px;
    }
}

@media(max-width: 425px) {
    ::selection {
        width: 320px;
    }
}
@media(max-width: 1200px) {
    .image {
        width: 1000px;
       
    }
}
@media(max-width: 1024px) {
    .image {
        width: 700px;
    }
}


@media(max-width: 576px) {
    .menu {
        height: 0;
       z-index: -99;
       position: absolute;

    }
    .menu-active  {
        display: block;
        width: 100%;
        height: fit-content;
        background:  linear-gradient(45deg, #3d3232, #504f0c, #070101, #0d0f0f);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 0;
        top: 17vh;
        z-index: 99;
    }
    .menu li, .menu li a {
        width: 100%;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        margin: 1rem 0;
        margin: auto;
    }
    .menu-button {
        opacity: 1;
        z-index: 999;
    }
    
} 


/* css da pagina sobre Nós */

/* .menu-button {
    color: #fff;
    font-size: 23;
    cursor: pointer;
    display: none;
}

@media(max-width: 576px){
    .navbar {
        padding: 0 50px;
    }
    .menu-button {
        display: block;
        z-index: 99;
    }
    .navbar .menu-button {
        position: fixed;
        width: 100%;
        height: 30vh;
        left: 0;
        top: 17vh;
        color: #fff;
        background:  linear-gradient(45deg, #3d3232, #504f0c, #070101, #0d0f0f);
        text-align: center;
        padding-left: 80px;
        z-index: 999;
        transition: all 0.3s ease;
    }
    .navbar .menu-button li {
        display: block;
    }
    .navbar .menu-button li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
       z-index: 999;
      
    }
}  */