/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap'); */


/* area do carrossel */

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 85vh;
    background: linear-gradient( 45deg, #506272, #102027, #7b98d8, #0f2327);
}


.pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamanho-carrossel {
    width: 80vh;
} 

.carrossel {
    box-shadow: 2px 2px 5px white;
    overflow: hidden;
    height: 500px;
    width: 500px;
    border-radius: 19px;
}

.container-0 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container-0 img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}


/* li a {
    text-decoration: none;
} */

.logo {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.navbar .logo a {
    color: #fff;
    font-size: 35px;
}
/* 
.menu li{
    list-style: none;
    position: relative;
} */

/* .navbar .menu li{
    display: inline-block;
}

.navbar .menu li a:hover{
    color: #1f468f;
    opacity: 0.4s;
} */

span{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.imge{
    border-radius: 5rem;
    margin-left: 12vh;
}

.imge img{
    width: 100px;
    height: 100px;
    border-radius: 5rem;
}

/.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    /* max-width: 414px;
    min-height: 896px; */
    margin: auto;
} 


.pesquisa input::placeholder{
    color: #f1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 72px;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.4);
}


/* area da main */

main{
    background: linear-gradient( 45deg, #e5e9ec, #dae4e9, #cdd1da, #c6f5ff);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    height: 40vh;
    overflow: hidden;
}

.fundo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.fundo p {
    text-align: center;
    width: 80%
}

.saiba-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 38px;
    border-radius: 12px;
    background: black;
    color: #fff;
    text-decoration: none;
}

.Bem-vindo{
    font-size: 56px;
}


.saiba-mais:hover{
    background-color: rgb(62, 62, 62);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
/* area da section */

/* .image {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    margin: 50px 60px;
    padding: 50px;
    background: #8dbae763;
}

.container img{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
    cursor: pointer;
    width: 50%;
    height: 50%;
}

img:hover{
    opacity: 0.3;
}


.container__texto{
    margin-bottom: 50px;
    font-size: 1.2rem;
}


ion-icon {
    font-size: 60px;
    color: #fff;
 } 
 
 .container h3 {
     padding: 19px;
     text-align: center;
 }
 
 .Bem-vindo h2 {
     text-align: center;
     margin-bottom: 26px;
 }
 
 
 .box {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 
 .card {
     border: 1px solid red;
     padding: 12vh;
     margin: 15px;
     width: 60vh;
 }


.menu-button {
    opacity: 0;
    z-index: -99;
}

/* Respansividades */

@media(max-width: 1200px) {
    ::selection {
        width: 1000px;
    }
}

@media(min-width: 1024px) {
    ::selection {
        width: 700px;
    }
    .container {
        flex-direction: row;
    }
}

@media(max-width: 768px) {
    ::selection {
        width: 400px;
    }
}

@media(max-width: 425px) {
    ::selection {
        width: 320px;
    }
}
@media(max-width: 1200px) {
    .image {
        width: 1000px;
       
    }
}
@media(max-width: 1024px) {
    .image {
        width: 700px;
    }
}
