.card-1{
    background-image: url('/assets/IMG/');
}

.card-2{
    background-image: url('/assets/IMG/');
}

.card-3{
    background-image: url('/assets/IMG/');
}

.card-4{
    background-image: url('/assets/IMG/');
}

.card-5{
    background-image: url('/assets/IMG/');
}

.card-6{
    background-image: url('/assets/IMG/');
}

.card-7{
    background-image: url('/assets/IMG/');
}

.card-8{
    background-image: url('/assets/IMG/');
}

.card-9{
    background-image: url('/assets/IMG/');
}

.card-10{
    background-image: url('/assets/IMG/');
}

.card-11{
    background-image: url('/assets/IMG/');
}

.card-12{
    background-image: url('/assets/IMG/');
}

.card-13{
    background-image: url('/assets/IMG/');
}

.card-14{
    background-image: url('/assets/IMG/');
}

.card-15{
    background-image: url('/assets/IMG/');
}
