.card-1{
    background-image: url('/assets/IMG/bob-the-robber.webp');
}

.card-2{
    background-image: url('/assets/IMG/ben10-duel-of-the-duplicates.webp');
}

.card-3{
    background-image: url('/assets/IMG/car-eats-car-dungeon-adventure.webp');
}

.card-4{
    background-image: url('/assets/IMG/block-world-online.webp');
}

.card-5{
    background-image: url('/assets/IMG/klo.png');
}

.card-6{
    background-image: url('/assets/IMG/bomb.webp');
}

.card-7{
    background-image: url('/assets/IMG/bob-the-robber-2.webp');
}

.card-8{
    background-image: url('/assets/IMG/money3.jpg');
}

.card-9{
    background-image: url('/assets/IMG/panda.jpg');
}

.card-10{
    background-image: url('/assets/IMG/elefante.jpg');
}

.card-11{
    background-image: url('/assets/IMG/elefante2.jpg');
}

.card-12{
    background-image: url('/assets/IMG/dynamons-4.webp');
}

.card-13{
    background-image: url('/assets/IMG/epic.png');
}

.card-14{
    background-image: url('/assets/IMG/amigo-pancho-1.webp');
}

.card-15{
    background-image: url('/assets/IMG/impostor.jpg');
}
