.card-1 {
    background-image: url('/assets/IMG/Traffic-Jam-3D-200x120.webp');
}

.card-2 {
    background-image: url('/assets/IMG/furianoestacionamento.webp');
}

.card-3 {
    background-image: url('/assets/IMG/uphill-racing-2.webp');
}

.card-4 {
    background-image: url('/assets/IMG/car-eats-car-2.webp');
}

.card-5 {
    background-image: url('/assets/IMG/spy-car.webp');
}

.card-6 {
    background-image: url('/assets/IMG/road-fury.webp');
}

.card-7 {
    background-image: url('/assets/IMG/racing-horizon.webp');
}

.card-8 {
    background-image: url('/assets/IMG/drag-racing-club.webp');
}

.card-9 {
    background-image: url('/assets/IMG/police-pursuit-2.webp');
}

.card-10 {
    background-image: url('/assets/IMG/burnin-rubber-5-xs.webp');
}

.card-11 {
    background-image: url('/assets/IMG/derby-crash-4.webp');
}

.card-12 {
    background-image: url('/assets/IMG/parking-fury-2.webp');
}

.card-13 {
    background-image: url('/assets/IMG/ambulance-academy-3d.webp');
}

.card-14 {
    background-image: url('/assets/IMG/russian-car-driver-hd.webp');
}

.card-15 {
    background-image: url('/assets/IMG/rider-2.webp');
}