.card-1{
    background-image: url('/assets/IMG/basket-champs.webp');
}

.card-2{
    background-image: url('/assets/IMG/penalty-3d.webp');
}

.card-3{
    background-image: url('/assets/IMG/sprint-game.webp');
}

.card-4{
    background-image: url('/assets/IMG/bmx-online.webp');
}

.card-5{
    background-image: url('/assets/IMG/ski-safari.webp');
}

.card-6{
    background-image: url('/assets/IMG/3-point-rush.webp');
}

.card-7{
    background-image: url('/assets/IMG/line-biker.webp');
}

.card-8{
    background-image: url('/assets/IMG/tennis-masters.webp');
}

.card-9{
    background-image: url('/assets/IMG/goalkeeper-challenge.webp');
}

.card-10{
    background-image: url('/assets/IMG/the-spearman-online.webp');
}

.card-11{
    background-image: url('/assets/IMG/abstract-golf.webp');
}

.card-12{
    background-image: url('/assets/IMG/princess-gymnastic-olympics.webp');
}

.card-13{
    background-image: url('/assets/IMG/8-ball-pool.webp');
}

.card-14{
    background-image: url('/assets/IMG/shoot-the-duck.webp');
}

.card-15{
    background-image: url('/assets/IMG/sprint-club-nitro.webp');
}